#checkmark {
  height: 19px;
  margin-right: 6px;
}

progress[value] {
  -webkit-appearance: none;
   appearance: none;
   height: 4px;
}

progress[value]::-webkit-progress-bar {
  background-color: #767677;
  border-radius: 2px;
  margin: 0, 10px;
}

progress[value]::-webkit-progress-value {
  background-color: #2ada71;
  border-radius: 2px; 
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.container {
  width: 100%;
  max-width: 970px;
  margin-bottom: 74px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 6px;
}

.reviewHeader {
  font-size: 30px;
  line-height: 28px;
  font-weight: 600px;
  margin-bottom: 20px;
  padding: 0;
  font-family: 'adineue pro bold web';
}

h6 {
  font-family: 'adineue pro bold web';
  font-size: 20px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;
}

.percent {
  font-family: 'adineue pro bold web';
  font-size: 66px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  height: 76.5px;
}

.reviewImg {
  width: 85px;
  height: 85px;
  margin-top: 20px;
}

.helpful {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 0px;
  height: 20px;
}

.breakdown {
  border-bottom: 1px solid #ebedee;
  margin-top: 20px;
  padding-bottom: 20px;
}

.avgStars {
  font-family: 'AdihausDIN';
  font-size: 56px;
  font-weight: 700;
  padding-right: 8px;
}

.reviewCount,
.recommend {
  font-family: 'AdihausDIN';
  font-size: 16px;
  font-weight: 400;
}

.ratings {
  width: 275px;
}

.percentContainer {
  margin-top: 20px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 872px;
  margin: 0;
}

.helpful,
.verifiedUser,
.stars,
.voteAlign {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reviewText,
.helpful,
.verifiedUser,
.recommended {
  font-family: 'AdihausDIN';
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px;
  padding: 0;
  margin-top: 10px;
}

.verifiedUser {
  margin-top: 10px;
  margin-bottom: 14px;
  font-weight: 400;
}

.summary {
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-bottom: 0px;
}

.reviewText {
  margin-top: 10px;
}

.user {
  text-transform: uppercase;
  margin: 0;
}

.showingReviews {
  display: flex;
  align-items: center;
  font-family: 'AdihausDIN';
  font-size: 16px;
}

#selectedFilter {
  font-weight: 700;
  margin: 0;
}

.noStarFilter {
  font-family: 'AdihausDIN';
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
}

.starFilter {
  cursor: pointer;
  text-decoration: underline;
  font-size: 13px;
  letter-spacing: 2px;
}

.starFilter:hover {
  background-color: black;
  color: white;
  transition: color .1s cubic-bezier(.3,0,.45,1),background-color .1s cubic-bezier(.3,0,.45,1);
}

.vote {
  text-decoration: underline;
  cursor: pointer;
}

.vote:hover {
  cursor: pointer;
  transition: color .1s cubic-bezier(.3,0,.45,1),background-color .1s cubic-bezier(.3,0,.45,1);
  background-color: black;
  color: white;
}

#disabledVote {
  pointer-events: none;
}

#disabledVote:hover {
  transition: color .1s cubic-bezier(.3,0,.45,1),background-color .1s cubic-bezier(.3,0,.45,1);
  background-color: black;
  color: white;
}

.voteConfirmation {
  font-family: 'AdihausDIN';
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  -webkit-animation: fade 5s;
  animation: fade 5s;
  -moz-animation: fade 5s;
  -o-animation: fade 5s;
  opacity: 0;
}

@-webkit-keyframes fade {
  0% {opacity: 0.2} 
  50% {opacity: 1}
  100% {opacity: 0.0}
}

@-moz-keyframes fade {
  0% {opacity: 0.2} 
  50% {opacity: 1}
  100% {opacity: 0.0}  
}

@keyframes fade {
  0% {opacity: 0.2} 
  50% {opacity: 1}
  100%{opacity: 0.0}
}

@-o-keyframes fade {
  0% {opacity: 0.2} 
  50% {opacity: 1}
  100%{opacity: 0.0}
}

.starCount {
  font-size: 11px;
  font-family: 'AdihausDIN';
  letter-spacing: 2px;
  line-height: 15px;
}

.stars {
  justify-content: space-between;
}

.total {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: #2ada71;
}

.review {
  border-bottom: 1px solid #000000;
  position: relative;
  margin-top: 40px;
  padding-bottom: 40px;
}

.voteAlign {
  margin-left: 12px;
}

.voteCount {
  margin-left: 4px;
}

.vote,
.voteCount,
.date,
.verified {
  font-size: 14px;
  font-weight: 400;
  font-family: 'AdihausDIN';
}

.voteCount,
.date,
.verified {
  color: #767677;
}

.verified {
  margin-left: 3px;
}

.verifiedUser {
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 14px;
}

.grid {
  display: grid;
  height: 50px;
  box-sizing: border-box;
}

.writeReviewBtn {
  grid-column: 1;
  grid-row: 1;
  background-color: black;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  box-sizing: border-box;
  transform: translate(-3px, -3px);
}

.writeReviewBtn:active {
  transform: translate(0px, 0px);
  transition: transform .1s;
}

.recommended {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 21px;
  cursor: pointer;
  box-sizing: border-box;
}

.wrapper:hover {
  opacity: 50%;
}

.writeReviewText {
  font-family: 'Adihaus';
  color: white;
  padding-top: 3px;
  letter-spacing: 2px;
  font-size: 13px;
}

.borderBtn {
  grid-column: 1;
  grid-row: 1;
  border: 1px solid black;
  width: 309px;
  height: 50px;
  box-sizing: border-box;
  z-index: -1;
}

.listBtn {
  display: flex;
  flex-direction: column;
  width: calc(66.66667% - 15px);
}

.loadMoreBtn {
  display: flex;
  align-items: center;
  width: 50%;
  height: 50px;
  margin-right: 10px;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

.loadMoreBtn:active {
  transform: scale(.95, .95);
  transition: transform .1s;
}

.loadMoreText {
  font-family: 'Adihaus';
  color: black;
  padding-top: 3px;
  letter-spacing: 2px;
  font-size: 13px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  box-sizing: border-box;
}

.star {
  margin-right: 5px;
}

.starReviewCount {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

#menuBorder {
  border: 1px solid #767677;
  flex-grow: 1;
  flex-basis: 0;
  margin-bottom: 14px;
  margin-left: 0;
  line-height: 20px;
}

.activeMenu {
  font-size: 14px;
  margin-bottom: 14px;
  font-family: 'AdihausDIN';
  background-color: #fff;
  border-color: #000;
  line-height: 16px;
  position: relative;
  z-index: 1;
  color: #000;
  font-weight: 700;
  box-shadow: inset 0 -2px 0 #000;
  font-weight: 700;
}

#menuBtn {
  color: #767677;
  font-family: 'AdihausDIN';
  font-size: 14px;
  cursor: pointer;
  padding: 16px 10px;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  transition: color .1s cubic-bezier(.3,0,.45,1);
}

#menuBtn:hover {
  color: #000;
}

.activeBtn {
  font-weight: 700;
  color: #000;
}

#gap2 {
  left: 25%;
  margin-left: -2px;
}

#gap3 {
  left: 50%;
  margin-left: -2px;
}

#gap4 {
  left: 75%;
  margin-left: -2px;
}
