body {
  font-family: 'AdiHaus';
}

#checkmark {
  height: 19px;
  margin-right: 6px;
}

progress[value] {
  -webkit-appearance: none;
   appearance: none;
   height: 4px;

}

progress[value]::-webkit-progress-bar {
  background-color: #767677;
  border-radius: 2px;
  margin: 0, 10px;
}

progress[value]::-webkit-progress-value {
  background-color: #2ada71;
  border-radius: 2px; 
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.container {
  width: 970px;
  max-width: 970px;
  margin-left: 211.5px;
  margin-right: 211.5px;
  margin-top: 0;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 6px;
  justify-content: space-between;
}

h5 {
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 20px;
  padding: 0;
}

.percent {
  font-size: 66px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

img {
  width: 85px;
  height: 85px;
}

.helpful {
  margin-top: 20px;
  margin-bottom: 0px;
  height: 20px;
}

.breakdown {
  border-bottom: 1px solid #ebedee;
  margin-top: 20px;
  padding-bottom: 20px;
}

.avgStars {
  font-family: 'AdihausDIN';
  font-size: 56px;
  font-weight: 700;
}

.reviewCount,
.recommend {
  font-family: 'AdihausDIN';
  font-size: 16px;
  font-weight: 400;
}

.percentContainer {
  margin-top: 20px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 889px;
}

.helpful,
.verifiedUser,
.stars,
.voteAlign {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reviewText,
.helpful,
.verifiedUser,
.recommended {
  font-family: 'AdihausDIN';
}

.starFilter,
.vote {
  text-decoration: underline;
  cursor: pointer;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px;
  padding: 0;
  margin-top: 10px;
}

.verifiedUser {
  margin-top: 10px;
  margin-bottom: 14px;
  font-weight: 400;
}

.summary {
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-bottom: 0px;
}

.reviewText {
  margin-top: 10px;
}
.user {
  text-transform: uppercase;
  margin: 0;
}

.stars {
  justify-content: space-between;
}

.total {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 266.328px;
  background-color: #2ada71;
}

.review {
  border-bottom: 1px solid #000000;
  position: relative;
  margin-top: 40px;
  padding-bottom: 40px;
}

.voteAlign {
  margin-left: 12px;
}

.voteCount {
  margin-left: 4px;
}

.vote,
.voteCount,
.date,
.verified {
  font-size: 14px;
  font-weight: 400;
  font-family: 'AdihausDIN';
}

.voteCount,
.date,
.verified {
  color: #767677;
}

.verified {
  margin-left: 3px;
}

.verifiedUser {
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 14px;
}

.grid {
  display: grid;
  width: 309px;
  height: 50px;
  box-sizing: border-box;
}

.writeReviewBtn {
  grid-column: 1;
  grid-row: 1;
  background-color: black;
  width: 309px;
  height: 50px;
  border: 1px solid black;
  box-sizing: border-box;
  transform: translate(-3px, -3px);
}

.writeReviewBtn:active {
  transform: translate(0px, 0px);
  transition: transform .1s;
}

.recommended {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 21px;
  cursor: pointer;
  box-sizing: border-box;
}
.wrapper:hover {
  opacity: 50%;
}

.writeReviewText {
  font-family: 'Adihaus';
  color: white;
  padding-top: 3px;
  letter-spacing: 2px;
  font-size: 13px;
}

.borderBtn {
  grid-column: 1;
  grid-row: 1;
  border: 1px solid black;
  width: 309px;
  height: 50px;
  box-sizing: border-box;
  z-index: -1;
}

.listBtn {
  display: flex;
  flex-direction: column;
}

.loadMoreBtn {
  display: flex;
  align-items: center;
  width: 309px;
  height: 50px;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

.loadMoreBtn:active {
  transform: scale(.95, .95);
  transition: transform .1s;
}

.loadMoreText {
  font-family: 'Adihaus';
  color: black;
  padding-top: 3px;
  letter-spacing: 2px;
  font-size: 13px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  box-sizing: border-box;
}


.starContainer {
  display: flex;
  color: 'black';
}

.star {
  margin-right: 5px;
}

.starReviewCount {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  border: 1px solid #767677;
  flex-grow: 1;
  margin-bottom: 14px;
  margin-left: 0;
}

button {
  color: #767677;
  font-family: 'AdihausDIN';
  font-size: 14px;
  cursor: pointer;
  padding: 16px 10px;
  width: 100%;
  background: none;
  border: none;
}
